.cashbox-categories {
    display: block;
    background-color: #f7f8fb;
    padding-top: 76px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 106px;
    @media(min-width: 768px) {
        padding-bottom: 64px;
    }
}

&>h2 {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 500;
    text-align: center;
    color: #22253d;
}

.cashbox-categories>h2+.cashbox-categories-container {
    margin-top: 37px;
    @media(min-width: 768px) {
        margin-top: 50px;
    }
}