@import "helpers/_postcss-reset.scss";
.payment-page {
    font-family: 'museo_sans_cyrl300', Arial, serif;
    overflow-x: hidden;
    color: #333333;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 56px;
    @media(min-width: 1600px) {
        padding-top: 27px;
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
    }
    &>.container+.block-with-requisites {
        margin-top: 30px;
        @media(min-width: 1600px) {
            margin-top:40px;
        }
    }
    &>.block-with-requisites+.payment-block-with-links {
        margin-top: 40px;
    }
}

.payment-block-with-links {
    &>a {
        line-height: 26px;
        font-size: 18px;
        display: block;
        color: #2A7DD1;
        font-family: 'museo_sans_cyrl500', Arial, serif;
        text-decoration: underline;
        text-decoration-color: rgba(42, 125, 209, 0.3);
    }
}

.page-nav {
    display: flex;
    &>a {
        line-height: normal;
        font-size: 12px; // font-weight: 300;font-family: Museo Sans Cyrl;
        color: #333333;
        font-family: 'museo_sans_cyrl300', Arial, serif;
        &>span {
            color: #FF7800;
        }
    }
    &+.title-how-to-pay-an-order {
        margin-top: 15px;
        @media(min-width: 1600px) {
            margin-top: 6px;
        }
    }
}

.block-with-all-information-about-payment {
    @media(min-width: 1600px) {
        display: flex;
    }
}

.title-how-to-pay-an-order {
    line-height: normal;
    font-size: 28px; // font-weight: 700;
    font-family: 'museo_sans_cyrl700', Arial, serif;
    @media(min-width: 1599px) {
        line-height: 84px;
        font-size: 48px;
    }
    &+.block-with-all-information-about-payment {
        margin-top: 30px;
        @media(min-width: 1600px) {
            margin-top: 20px;
        }
    }
}

.information-how-to-pay-an-order {
    list-style: decimal !important;
    line-height: 23px;
    font-size: 16px;
    color: #333333;
    font-family: 'museo_sans_cyrl300', Arial, serif;
    @media(min-width: 1600px) {
        font-size:18px;
    }
    &>li {
        list-style-position: inside;
        &>a {
            color: #2A7DD1;
            text-decoration: underline;
            text-decoration-color: rgba(42, 125, 209, 0.3);
            font-family: 'museo_sans_cyrl700', Arial, serif;
        }
        &>span {
            font-family: 'museo_sans_cyrl700', Arial, serif;
        }
    }
    &>li+li {
        margin-top: 15px;
        @media(min-width: 1600px) {
            margin-top: 30px;
        }
    }
}

.payment-page-widget {
    max-width: 430px;
}

.payment-page-img {
    max-width: 46px;
    max-height: 46px;
    @media(min-width: 1600px) {
        max-width: 70px;
        max-height: 70px;
    }
}

.payment-page-widtget-title {
    display: block;
    width: 259px;
    height: 26px;
    background: url(https://www.walletone.com/merchant/widget/1.0.2/img/title.png) 0 0 no-repeat;
    background-size: 100%;
    outline: none; // margin-left: auto; // margin-right: auto;
    margin-bottom: 15px;
    margin-top: 20px;
    @media(min-width: 1600px) {
        width:295px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 30px;
    }
}

.payment-page-widget-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit, 46px);
    grid-gap: 10px;
    @media(min-width: 1600px) {
        grid-template-columns: repeat(auto-fit, 70px);
        grid-gap: 19px;
    }
}

.block-with-contracts {
    padding-right: 90px;
    &>p {
        font-family: 'museo_sans_cyrl700', Arial, serif;
        @media(min-width: 1600px) {
            font-size: 18px;
        }
        &+p {
            margin-top: 15px;
        }
        a {
            color: #2A7DD1;
            text-decoration: underline;
            text-decoration-color: rgba(42, 125, 209, 0.3);
            font-family: 'museo_sans_cyrl300', Arial, serif;
        }
    }
}

.information-how-to-pay-an-order+.block-with-contracts {
    margin-top: 35px;
}

.block-with-requisites {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F7F8FB;
    @media (min-width: 1600px) {
        padding-left: 0;
        padding-right: 0;
        padding-top: 35px;
        padding-bottom: 40px;
    }
    p {
        line-height: 23px;
        font-size: 16px;
        @media (min-width: 1600px) {
            line-height: 26px;
            font-size: 18px;
        }
        &>span {
            font-family: 'museo_sans_cyrl700', Arial, serif;
        }
        &+p {
            margin-top: 20px;
        }
    }
    .block-with-requisites-title {
        font-family: 'museo_sans_cyrl500', Arial, serif;
        line-height: normal;
        font-size: 24px;
        @media(min-width: 1600px) {
            line-height: 46px;
            font-size: 36px;
        }
        &+p {
            margin-top: 15px;
        }
    }
}

.payment-block-with-img {
    max-width: 280px;
    max-height: 305px;
}

.payment-page {
    @media(min-width: 1600px) {
        display: flex;
    }
}