.title-of-item{
width: 568px;
height: 96px;
font-family: Museo Sans Cyrl;
line-height: 46px;
font-size: 36px;

color: #333333;
}


description-item-text{

font-family: Museo Sans Cyrl;
line-height: 26px;
font-size: 18px;

color: #333333;
}
price-for-item{
 

position: absolute;
width: 129px;
height: 40px;
left: 810px;
top: 526px;

font-family: Museo Sans Cyrl;
line-height: 56px;
font-size: 40px;

color: #21243C;

}

block-for-consultation{


position: absolute;
width: 216px;
height: 28px;
left: 1170px;
top: 539px;

font-family: Museo Sans Cyrl;
line-height: 32px;
font-size: 18px;

color: #2A7DD1;

}

.add-to-basket{
  
  background-color:
    #FF7800;
  border: 1px solid #FF7800;
  border-radius: 50px;
  min-width: 251px;
min-height: 60px;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}


.invoice-for-payment{
  min-width: 293px;
  min-height: 60px;
  background-color: #E5E5E5;
  border: 1px solid #D8DCE6;
  border-radius: 50px;
  color: #333333;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  }