body
   div
     .slider-with-items
     .container-with-img-item
     .conainer-with-description-item
       h3.title-of-container-with-description-item Онлайн-касса Эвотор 7.3 смарт-терминал без ФН 
       p.description-item-text Работает без подзарядки до 14 часов. Подойдет курьерам, экспедиторам и выездной торговле. Полноценная касса под 54-ФЗ в компактном корпусе. В комплект поставки входят: смарт-терминал 7.3 с предустановленным ПО Evotor POS.
       .price-for-item 23490
       .for-buyer-item-amount
		 button.for-buyer-item-amount-minus
         .for-buyer-item-amount-value 1
		  button.for-buyer-item-amount-plus
        a.block-for-consultation Получить консультацию
        button.add-to-basket Добавить в корзину
        button.invoice-for-payment Получить счет на оплату  
    div
      nav
        a.navigation-block.active-navigation-block Описание
        a.navigation-block Характеристики
        a.navigation-block Условия доставки и оплаты
        a.navigation-block Задать вопрос
      
      
     .navigation-description-block
        h3 Онлайн-касса Эвотор 7.3 смарт-терминал без ФН
        p Работает без подзарядки до 14 часов. Подойдет курьерам, экспедиторам и выездной торговле. Полноценная касса под 54-ФЗ в компактном корпусе. В комплект поставки входят: смарт-терминал 7.3 с предустановленным ПО Evotor POS, блок питания с сетевым кабелем, чековая лента, паспорт устройства, руководство по быстрому запуску.
        p <span>Комплектность:</span> смарт-терминал
        div
          video        
    .take-with-the-goods
          h4 С этим товаром покупают          
          .block-with-offers
            img
            p Договор на передачу фискальных данных в ФНС через ОФД
            p
          
